.cover__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  max-width: 1184px;
  height: 100%;
}

@media (max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
  }
}

@media (max-width: 767px) {
  .cover__link {
    max-width: 767px;
  }
}