.intro__list {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 1023px) {
  .intro__text {
    max-width: 720px;
  }
}