.header {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #2a2c2f;
  max-width: 1184px;
  margin: 0 auto;
  padding: 28px 48px 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 52px;
}

@media (max-width: 1279px) {
  .header {
    max-width: 928px;
  }
}

@media (max-width: 1023px) {
  .header {
    max-width: 720px;
    padding: 28px 24px 0 24px;
  }
}

@media (max-width: 767px) {
  .header {
    max-width: 500px;
    padding: 16px 16px 0 16px;
  }
}

@media (max-width: 320px) {
  .header {
    max-width: 288px;
    min-height: 42px;
    padding: 16px 0 48px 0;
    margin: 0 16px;
  }
}