.intro {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #2a2c2f;
  max-width: 690px;
  min-height: 429px;
  margin: 0 0 0 148px;
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 1279px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: auto;
    padding-top: 88px;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding-top: 64px;
  }
}
