.intro {
  font-family: Inter, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 984px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}
/* почему неправильно?? по макету 720px в 768*/
@media (max-width: 1023px) {
  .intro {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .intro {
    max-width: 420px;
  }
}

@media (max-width: 490px) {
  .intro {
    max-width: 288px;
  }
}