.lead__subtitle {
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 640px;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  color: #fff;
  margin-top: 32px;
}

@media (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }
}
