.cover {
  color: #ffffff;
  background-image: url(../../images/cover-trains.jpg);
  max-width: 1184px;
  background-size: cover;
  background-position: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding: 245px 312px;
}

.cover:after {
  content: "";
  display: block;
  background-color: #2a2c2f;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  transition: opacity 1s ease-in-out;
}

.cover:hover:after {
  opacity: 0.8;
}

@media (max-width: 1279px) {
  .cover {
  padding: 195px 232px;
  max-width: 1024px;
  }
}

@media (max-width: 1023px) {
  .cover {
    padding: 115px 104px;
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  .cover {
    padding: 33px 16px;
    max-width: 320px;
  }
}
/*отцентрировала контент с помощью padding*/